{% extends 'base.html' %}

{% block title %}
    Search Friends
{% endblock %}


{% block content %}

    <div class="pl-20 pr-20">
        {% if is_empty %}
            <h1>No profiles Does not match</h1>
        {% else %}
            {% for profile in profiles %}
                <div class="ui segment">
                    <div class="ui grid">
                        <div class="row pr-20 pl-20">
                            <div class="three wide column">
                                <img src="{{ profile.avatar.url }}" class="ui small circular image">
                            </div>
                            <div class="thirteen wide column">
                                <h3>{{ profile.user }}</h3>
                                <p>{{ profile.bio }}</p>
                                <a href="/profiles/{{ profile.slug }}/">
                                    <button class="ui primary button">See profile</button>
                                </a>
                                {% if request.user.is_authenticated %}
                                    {% if profile.user not in rel_recciever and profile.user not in rel_sender %}
                                        <form action="{% url 'send-request' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="profile_id" value="{{ profile.id }}">
                                            <button type="submit" class="ui positive basic button mt-10"><i
                                                    class="plus square icon"></i>Send request ...
                                            </button>
                                        </form>
                                    {% endif %}
                                    {% if profile.user not in rel_recciever and profile.user in rel_sender and request.user not in profile.friends.all %}
                                        <form action="{% url 'send-request' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="profile_id" value="{{ profile.id }}">
                                            <button type="submit" class="ui positive basic button mt-10"><i
                                                    class="plus square icon"></i>Send request ...
                                            </button>
                                        </form>
                                    {% endif %}
                                    {% if profile.user in rel_recciever and request.user not in profile.friends.all %}
                                        <br>
                                        <button class="ui disabled button mt-10"><i class="user icon"></i>
                                            Waiting for approval ...
                                        </button>
                                    {% endif %}
                                    {% if request.user in profile.friends.all %}
                                        <form action="{% url 'remove-friend' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="profile_id" value="{{ profile.id }}">
                                            <button type="submit" class="ui negative basic button mt-10"><i
                                                    class="minus square icon"></i>Remove from friends ...
                                            </button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endif %}
    </div>

{% endblock %}